name: Block PRs to Workflow

on:
  pull_request

jobs:
  block-workflow-changed-files:
    runs-on: ubuntu-latest
    name: Block workflow changed files
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          # Avoid using single or double quotes for multiline patterns
          files: |
            .github/workflows/**
      - name: Run step if workflow file(s) change
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: actions/github-script@v7
        with:
          script: core.setFailed('PR modifies a workflow file.')
